<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CyclicSampler.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Example_ConfidenceSample.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Example_RandomClosedPolygon.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Example_Sample_Binned.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Test_RandomClosedPolygon.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Test_RectangleConvolutionPower.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF2AEB6A28EC5E35004650E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF2AEB7628EC619F004650E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF3F3B0F2C0CA820004083E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF3F3B1A2C0CA876004083E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF597E2029C51B0400ABD4A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF626A712C1F1CA40052DA44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFB2F4042C0CC6F300459E94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFB2F41A2C0CCB0D00459E94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFE5555529C26F9900FC5BD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
